@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

*:not(i) {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  background-color: #f3f2f1;
}

a {
  text-decoration: none;
}

:before,
:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

header,
section,
footer {
  display: block;
  width: 100%;
}

.contenedor {
  max-width: 1140px;
  margin: auto;
}

/*Inicio*/

.inicio-section,
.paraEl-section {
  min-height: 100vh;
  position: relative;
}

.inicio-section .slide {
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}

.inicio-section .slide.active {
  opacity: 1;
  visibility: visible;
}
.inicio-section .slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.inicio-section .fila {
  min-height: 100vh;
}

/*encabezado*/

.encabezado {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.encabezado .logo {
  padding: 0 15px;
}

.encabezado .logo a {
  font-size: 30px;
  color: #fff;
  font-family: Abril Fatface;
  letter-spacing: 3px;
}

.encabezado .navegador {
  padding: 0 15px;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.encabezado nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.encabezado nav ul li {
  display: inline-block;
  margin-left: 30px;
}

.encabezado nav ul li a {
  display: block;
  padding: 25px 0;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s ease;
}

.encabezado nav ul li a:hover,
.encabezado nav ul li a.active {
  color: red;
}

.inicio-contenido {
  color: #fff;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}

.inicio-contenido p {
  font-size: 20px;
  margin: 0 0 10px;
}

.inicio-contenido h1 {
  font-size: 50px;
  margin: 0px;
  font-weight: normal;
  font-family: Abril Fatface;
}
.inicio-contenido span {
  font-size: 16px;
  display: inline-block;
  border: 1px solid red;
  border-radius: 30px;
  padding: 7px 30px;
  margin: 25px 0 0;
  color: red;
}

.inicio-section .slide.active .inicio-contenido p {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
}

.inicio-section .slide.active .inicio-contenido h1 {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
  animation-delay: 0.5s;
}

.inicio-section .slide.active .inicio-contenido span {
  opacity: 0;
  animation: fadeInTop 1s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*pagina historia*/

.historia .contenedor {
  margin-top: 20px;
  padding: 80px 0 0;
}

.historia .slide {
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

.historia .slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.historia-contenido {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.historia-contenido:before {
    opacity: 0;
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #ccc;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
  }

.historia-item i{
  position:absolute;
  left: 50%;
  width: 31px;
  margin-left: -15px;
  top: 5px;
  text-align: center;
  color: red;
  padding: 5px;
  font-size: 18px;
}

.historia-item{
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px ;
    position: relative;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
    
}

.historia-item:last-child{
    margin-bottom: 0;
}

.historia-item:nth-child(even){
    flex-direction: row-reverse;
}

.historia-item:nth-child(odd) .story-text{
    padding: 0 60px 0 15px;
    text-align: right;
}

.historia-item:nth-child(odd) .story-img{
    padding: 0 15px 0 60px;
}


.historia-item:nth-child(even) .story-text{
    padding: 0 15px 0 60px;
}

.historia-item:nth-child(even) .story-img{
    padding: 0 60px 0 15px;
}

.story-text,
.story-img{
    flex: 0 0 50%;
    max-width: 50%;
}


.story-text h3{
    font-size: 19px;
    margin: 0 0 8px;
    color: red;
    font-weight: 500;
    text-transform: capitalize;
}

.story-text p{
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    color: #1d1919bd;
}

.story-text span.fecha{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 15px;
    display: block;
    text-transform: capitalize;
}

.titulo{
    opacity: 0;
    font-size: 23px;
    margin: auto;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 40px;
    animation: fadeInTop 1s ease forwards;
    
}

.encabezado .logo-story {
    padding: 0 15px;
  }
  
  .encabezado .logo-story a {
    font-size: 30px;
    color: #000;
    font-family: Abril Fatface;
    letter-spacing: 3px;
  }

.encabezado .navegador-story ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.encabezado .navegador-story ul li {
  display: inline-block;
  margin-left: 30px;
}

.encabezado .navegador-story ul li a {
  display: block;
  padding: 25px 0;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s ease;
}

.piePaginaStory{
    opacity: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
    margin: 40px ;
    padding-top: 50px;
    color: #1d1919bd;
}

/*Para el*/


.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.video-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.containerVideo::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
}
  
.content p{
  width: 50%;
}

.musica{
  margin: 0;
  padding: 0;
}

.content .titulo{
  margin: 0;
}

.fraseCambiante{
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  position: relative;
  line-height: 1em;
}

.palabraCambia{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
    vertical-align: middle;
}

.palabraCambia.active {
  opacity: 1;
  color: red;
  transform: translateY(0);
}

.palabraCambia.exiting {
  opacity: 0;
  transform: translateY(-100%);
}

.changing-word-container{
  display: inline-block;
  min-width: 100px;
  min-height: 19px;
  position: relative;
  vertical-align: middle;
}

/*Mirame*/
.encabezado .mirame-logo {
  padding: 0 15px;
}

.encabezado .mirame-logo a {
  font-size: 30px;
  color: #000;
  font-family: Abril Fatface;
  letter-spacing: 3px;
}

.encabezado .mirame-navegador ul {
list-style: none;
margin: 0;
padding: 0;
}

.encabezado .mirame-navegador ul li {
display: inline-block;
margin-left: 30px;
}

.encabezado .mirame-navegador ul li a {
display: block;
padding: 25px 0;
color: #000;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
transition: color 0.5s ease;
}

.mirame-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  animation: fadeInTop 2s ease forwards;
}

.video-portada {
  width: 100%;
  max-width: 400px; 
  aspect-ratio: 1 / 1; 
  overflow: hidden; 
  border-radius: 50%;
  margin: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-portada video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.parrafo-mirame {
  width: 30%;
  max-width: 400px;
  padding: 30px;
  box-sizing: border-box;
}

.parrafo-mirame p{
  padding-bottom: 10px;
}

.tituloMirame {
  color: rgb(255, 17, 17);
  padding-bottom: 10px;
}

#reproducir{
  height: 50px;
  width: 120px;
  border-radius: 25px;
  border: none;
  background-color: rgb(231, 208, 186);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

#reproducir:hover{
  background-color: rgb(255, 0, 0);
  font-size: 16px;
  cursor: pointer;
  color: white; 
}