*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px ;
}

a{
    text-decoration: none;
}

:before,:after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

header,section,footer{
    display: block;
    width: 100%;
}

.contenedor{
    max-width: 1140px;
    margin: auto;
}

/*Inicio*/

.inicio-section{
    min-height: 100vh;
    background-color: gray;
}

.inicio-section .slide{
    background-image: url(img/1000007678.jpg);
    background-position:center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.inicio-section .slide:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.inicio-section .fila{
    min-height: 100vh;
}

/*encabezado*/

.encabezado{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

.encabezado .logo{
    background-color: red;
    padding: 0 15px;
}

.encabezado .navegador{
    padding: 0 15px;
    background-color: pink;
}

.fila{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



.encabezado nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.encabezado nav ul li{
    display: inline-block;
    margin-left: 30px;
}

.encabezado nav ul li a{
    display: block;
    padding: 25px 0;
}